html, body{
	margin:0px;
	padding: 5px;
	padding-top: 3px;
/* 	background-color: rgba(103, 102, 101, 0.68); */
	overflow: hidden;
}

canvas{
/* 	background-color: rgba(56, 55, 54, 0.68); */
	border: solid 1px;
	height: 100%;
    width: 100%;
}

.screen-shot{
	margin: 30px;
    text-align: center;
    width: auto;
}

.screen-shot .modal-dialog {
	margin: 30px !important;
    text-align: center !important;
    width: auto !important;
}

.hub-started{
	color:#80ff7f;
}

.hub-stopped{
	color:#f38b85;
}